.host {
  display: block;
  background-color: var(--deepBlue);
}

.host .snowbox {
  padding: 20px;
}

.host .snowbox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host h2 {
  margin-top: 44px !important;
}

.host .button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96px;
}

.host p {
  font-size: 1.2rem;
}

.host a,
.host p {
  color: white !important;
}
