.host {
  display: block;
  background-color: var(--deepBlue);
}

.host .snowbox {
  padding: 20px;
}

.host .snowbox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host h2 {
  margin-top: 44px !important;
}

.host .button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96px;
}

.host pre {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--deepBlue) !important;
  font-size: 1.2rem !important;
}

.host p {
  font-size: 1.2rem;
}

.host a,
.host p {
  color: white !important;
}

@media (min-width: 462px) {
  .host pre {
    display: flex !important;
    justify-content: center !important;
  }
}