.host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.mapsection {
  width: 100%;
}

.map {
  height: 400px;
  width: 100%;
  background-color: rgb(172, 219, 254);
}

.instruction {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 20px;
}

.codeblock {
  padding: 20px;
}

.gmnoprint {
  pointer-events: none;
}

.icon {

}

@media (min-width: 768px) {
  .host {
    flex-wrap: nowrap;
  }
  .mapsection {
    width: 400px;
    padding: 20px;
  }
  .instruction {
    min-height: 470px;
  }
}
