@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --deepBlue: #013640;
  --bg: white;
  --black: black;
  --darkerRed: #BF1722;
  --maxWidth: 1280px;
}

html, body {
  margin: 0;
  width: 100%;
}

*:not(code):not(span):not(button):not(a) {
  font-family: 'EB Garamond', serif;
  color: var(--black);
}

a {
  color: var(--deepBlue);
}

body {
  margin: 0 auto;
}

button {
  color: var(--bg);
  background-color: var(--deepBlue);
  border-color: var(--bg);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

button.inverted {
  color: var(--deepBlue);
  background-color: var(--bg);
  border-color: var(--deepBlue);
}

.shadow {
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.20);
}

.hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: 1280px) {
  #contentcontainer {
    margin: 0 auto;
    max-width: var(--maxWidth);
  }
}
