@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --deepBlue: #013640;
  --lighterBlue: aliceblue;
  --bg: white;
  --warmBg: #f6f5f5;
  --black: black;
  --lighterRed: #ffcdcd;
  --darkerRed: #BF1722;
  --maxWidth: 1280px;
  --highlight: yellow;
}

html {
  font-size: 20px;
}
p {
  line-height: 1.4;
}
html, body {
  margin: 0;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
}
th, td {
  border: 1px solid var(--lighterRed);
  padding: 6px;
}
th:not(:first-child), td:not(:first-child) {
  border-left: none;
}
td {
  text-align: center;
  border-top: none;
}
th:first-child {
  border-top-left-radius: 4px;
}
th:last-child {
  border-top-right-radius: 4px;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 4px;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 4px;
}
tr:nth-child(2n) {
  background-color: var(--warmBg);
}


*:not(code):not(span):not(button):not(a) {
  font-family: 'EB Garamond', serif;
  color: var(--black);
}

a {
  color: var(--deepBlue);
}

body {
  margin: 0 auto;
}

button {
  color: var(--bg);
  background-color: var(--deepBlue);
  border-color: var(--bg);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

button.inverted {
  color: var(--deepBlue);
  background-color: var(--bg);
  border-color: var(--deepBlue);
}

.shadow {
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.20);
}

.hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.anchor {
  text-decoration: none;
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.anchor .icon {
  color: var(--deepBlue);
  vertical-align: middle;
  visibility: hidden;
}

h1:hover .anchor .icon,
h2:hover .anchor .icon,
h3:hover .anchor .icon,
h4:hover .anchor .icon,
h5:hover .anchor .icon,
h6:hover .anchor .icon {
  visibility: visible;
}

@media (min-width: 1280px) {
  #contentcontainer {
    margin: 0 auto;
    max-width: var(--maxWidth);
  }
}

.ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ripple div {
  position: absolute;
  border: 4px solid var(--deepBlue);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
