.writings {
  padding: 0 16px 80px 16px;
}

.list {

}

.card {
  margin: 16px 0;
}


@media (min-width: 768px) {
  .writings {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: 16px 16px 80px 16px;
  }
  .list {
    --leaf-size: 18;
    background-image: paint(leaf);
    padding-left: calc(var(--leaf-size) * 4px);
    box-sizing: border-box;
    width: 768px;
    justify-self: center;
  }
}