.host {
  display: block;
  grid-area: brand;
  justify-self: end;
  align-self: center;
  padding-left: 10px;
}

.title {
  font-size: 1.3rem;
}
h2 {
  font-family: "Roboto", Arial, SansSerif, sans-serif;
}